.container {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.title {
    display: flex;
    font-size: 100px;
    height: 200px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    color: aliceblue;
    padding-left: 100px;
    padding-top: 50px;
    text-shadow: 2px 2px 5px black;
} 



.navs {
    
    padding: 0;
    margin: 0;
    position: relative;
    margin-top: -24px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.navs > a {
    color: whitesmoke;
    padding: 10px;
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
  }
  
.navs > a:hover {
    background-color:rgba(245, 245, 245, 0.287);
  }

span {
    padding-right: 2%;
}
header {
    height: 700px;
    margin-top: 2px;
    background-size: cover;
    background-image: url(/images/header.jpeg);
    background-size: cover;
    background-position:60% 90%;
    image-rendering:optimizeQuality;
   
}


.pictures {
    align-self: center;
}

.second {
    margin-top: 10%;
    display: flex;
    height: 700px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
        
}
.second-text {
    display: inline-flex;
    font-family: sans-serif;
    text-align: center;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-style: italic;
    flex-direction: column;
    
}
button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 25px;
  }
  
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
    

.second-pics {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-evenly;
    position: relative;
    top: 25px;
    
}

.third {
    margin-top: 10%;
    display: flex;
    height: 900px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    padding-top: 20px;
    background-color:whitesmoke;
}

.bike-rental {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    color:grey;
    text-shadow: 3px 3px 10px white;
    font-style: italic;
}
.rental-pics {
    display: flex;
    width: 100%;
    height: 500px;
    
    justify-content: space-evenly;
    position: relative;

}
.one {
    display: flex;
    flex-direction: column;
    border: grey 3px ridge;
    padding: 10px;
    align-content: center;
}
.one > p {
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
    
    text-shadow: 0px 0px 1px black;
    color: slategray;
}

.two {
    display: flex;
    flex-direction: column;
    border: grey 3px ridge;
    padding: 10px;

}

.two > p {
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
    text-shadow: 0px 0px 1px black;
    color: slategray;
}

footer {
    display: flex;
    height: 200px;
    margin-top: 2px;
    background-size: cover;
    background: linear-gradient( rgba(49, 49, 49, 0.5), rgba(27, 26, 61, 0.452) ),url("/images/footer.jpeg");
    background-size: cover;
    background-position:10% 36%;
    image-rendering:optimizeQuality;
    justify-content: center;
    align-items: center;
    
}

a {
    align-self: center;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color:grey;
}

@media only screen and (max-width: 200px) {
    .second {
        background-color: red;
    }
}

@media only screen and (max-width: 600px) {
    
    .second{
        
        flex-direction: column;
        height: 1600px;
        height:fit-content;
        align-items: center;
        justify-content: space-evenly;
    }
    .second-text {
        font-size: 30px;
    }

    .header {
        font-size: small;
        width: 100%;
        background-position:10% 70%;
    }

    .navs {
        justify-content:center;
    }
    .title {
        font-size: 50px;
        align-self: flex-start;
    }
    .button {
        width: 30px;
    }
    
}


